.mainContainer {
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
    box-sizing: border-box;
}

@media (max-width: 768px) {
    .mainContainer {
        flex-direction: column;
    }

    .leftSection,
    .rigthSection {
        width: 100%;
        margin-right: 0;
        order: 1;
    }

    .rigthSection {
        order: -1;
        background-color: aqua;
        padding: 20%;
    }
    .leftSection {
        background-color: bisque;
        padding: 20%;

    }
}